<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="testScript.TC_04CreatePurchaseOrderWithItem"/>
      <class name="testScript.TC_01CreateNewPurchaseOrder"/>
      <class name="testScript.TC_02CreatePurchseOrderWithVendorName"/>
      <class name="testScript.TC_09CreatePurchaseOrderAndDelete"/>
      <class name="testScript.TC_05CreatePurchaseOrderWithAddProduct"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
